<div class="container-fluid page">
    <div class="d-flex page__box p-3 mt-2">How can this gig help you</div>
    <div class="page__content shadow p-3 position-relative">
        <div class="page__content-data position-absolute text-center">
            <div class="container">
                <div class="row">
                    <div class="col-md-9">
                        <div class="card w-3/5" *ngIf="gigDetails">
                            <img src={{gigDetails.img}} alt="gig image" class="rounded-xl w-2/3">
                            <div class="card-body">
                                <h1 class="mt-3 mb-3">{{gigDetails.name}}</h1>
                                <p>{{gigDetails.description}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>