/*mat-toolbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.example-spacer {
  flex: 1 1 auto;
}

.bar {
  padding-bottom: 128px;
}

button {
  outline: none;
  border: 0;
}

.user-image {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

::ng-deep .mat-menu-content {
  width: 160px;
}*/
.bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

.fixed-toolbar {
  position: relative;
}

.custom-toolbar {
  background-color: #faf8f8;
}

.logo {
  font-size: 20px;
  font-weight: bold;
  color: #000;
  text-decoration: none;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-button {
  margin-right: 10px;
  color: #fff;
}

.signup-button {
  color: #fff;
}
.signup-button:hover{
  color: #a31ee0;
  }
.login-button:hover{
  color: #a31ee0;
  }

.user-profile {
  margin-left: auto;
}

.user-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.user-image {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.example-spacer {
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
}

.nav-link {
  margin: 0 10px;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #a31ee0;
}
