<div *ngIf="errorMsg" class="error-message">{{errorMsg}}</div>
<form [formGroup]="GigForm" (ngSubmit)="OnSave()" class="form-container">
    <h1><b>{{data ? 'Update': 'Add new'}} gig</b></h1>
    <div mat-dialog-content class="content">
        <mat-form-field class="form-field">
            <mat-label>title</mat-label>
            <input matInput type="text" placeholder="title" formControlName="title">
        </mat-form-field>
        <mat-form-field class="form-field">
            <mat-label>Category</mat-label>
            <mat-select formControlName="category">
                <mat-option *ngFor="let val of category" [value]="val">{{val}}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field class="form-field">
            <mat-label>description</mat-label>
            <input matInput type="text" formControlName="description">
        </mat-form-field>
        <mat-form-field class="form-field">
            <mat-label>price</mat-label>
            <input matInput type="text" formControlName="price">
        </mat-form-field>
    </div>
    <div class="form-group my-3">
        <label class="form-check-label">Image</label>
        <input type="file" class="form-control" name="image" (change)="onFileSelected($event)" />
    </div>
    <div mat-dialog-actions class="action ">
        <button type="submit" class="btn btn-success btn-block">
            <i class="fa fa-paper-plane"></i> {{data ? 'Update': 'Add'}}
        </button>
        <button *ngIf="data" class="btn btn-danger" (click)="deleteGig(gig.id)"><i class="fa fa-trash"></i> Delete</button>
    </div>
</form>
