.error-message {
    color: red;
    margin-bottom: 10px;
  }
  
  .form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .form-field {
    width: 400px;
    margin-bottom: 10px;
  }
  
  .action {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .btn-block {
    background-color: rgb(82, 228, 82);
    margin-right: 110px;
  }
  