/*.custom-card {
    background-color: #f1f1f1;
    padding: 20px;
    border-radius: 5px;
  }
  
  .custom-panel {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-top: 20px;
  }
  
  .form-field {
    width: 100%;
  }
  */