.row {
    display: flex;
    gap: 10px;
}

mat-form-field {
    width: 100%;
}

mat-radio-group {
    width: 100%;
}

p{
    text-align: center;
}

mat-chip-listbox{
    padding: 40px;
}

mat-chip-option{
    padding-bottom: 10px;
    width: 60%;
    height: 40px;
}