.row {
    display: flex;
    gap: 10px;
}

mat-form-field {
    width: 100%;
}
.logo {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    color: #2196F3;
  }
  
  .error-message {
    color: #FF0000;
    margin-bottom: 10px;
  }
  
  .form {
    background-color: #F0F0F0;
    padding: 20px;
    border-radius: 5px;
  }
  
  .input-field {
    width: 100%;
  }
  
  .password-toggle {
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .action {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .login-button {
    background-color: #2196F3;
    color: #fff;
  }
  
  .signup-button {
    background-color: #4CAF50;
    color: #fff;
  }
  
  /* Hover effects */
  .login-button:hover,
  .signup-button:hover {
    opacity: 0.8;
  }
  
  .password-toggle:hover {
    opacity: 0.8;
    cursor: pointer;
  }
  