.black-border {
  border: 1px solid black;
}

.form-heading {
  border-top: 1px solid black;
}

.form-heading h6 {
  text-align: center;
  background-color: white;
  width: 200px;
  transform: translateY(-50%);
}

.editProfile{
  padding: 20px;
  height: 700px;
}

.action {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.btn-block {
  background-color: rgb(82, 228, 82);
  width: 40%;
}