<div class="slider">
  <div class="leftArrow">
    <!--<form [formGroup]="SearchForm">
      <mat-form-field appearance="outline">
        <mat-label>Search</mat-label>
        <input matInput placeholder="Search what you looking for Here..." formControlName="gigName">
      </mat-form-field>
      <button type="submit"><mat-icon>search</mat-icon></button>
    </form>-->
  </div>
  <div class="slide" [ngStyle]="{ 'background-image': getCurrentSlideUrl() }"></div>
</div>

<!--
  <div class="row">
    <h5 class="text-white">Categories</h5>
    <div class="rowposter mt-3 p-2">
      <ng-container *ngFor="let g of gigs">
        <img src="{{ g.img }}" class="rowimg largeposter" alt="..."
          [routerLink]="['/gig',g.id]">
      </ng-container>
    </div>
  </div>-->
