<div class="slider">
  <div class="leftArrow">
    <!--<form [formGroup]="SearchForm">
      <mat-form-field appearance="outline">
        <mat-label>Search</mat-label>
        <input matInput placeholder="Search what you looking for Here..." formControlName="gigName">
      </mat-form-field>
      <button type="submit"><mat-icon>search</mat-icon></button>
    </form>-->
    <h1> Vibrant community of creative minds and skilled professionals</h1>
  </div>
  <div class="slide" [ngStyle]="{ 'background-image': getCurrentSlideUrl() }"></div>
</div>

<div class="profils">
  <div *ngFor="let profil of profils" class="profil">
    <app-card-freelancer [profils]="profil"></app-card-freelancer>
  </div>
</div>

<div class="categories">
  <ng-image-slider [images]="categories"></ng-image-slider>
</div>
